body {
  margin: 0;
  background-color: #000000;

}

h1 {
  color: #70d6ff;
  font-size: 10vw;
  font-family: "Roboto Black";
  text-transform: uppercase;
}
.title span:after{
  content: "Welcome!";
  animation: words 6s infinite;
}

@keyframes words {
  0%, 33% {
    content: "Welcome!";
    color: #ff70a6;
  }

    34%, 66% {
    content: "Välkommen!";
    color: #ff9770;
  }

    67%, 100% {
    content: "Tervetuloa!";
    color: #ffd670;
  }
  
}

h2 {
  color: #70d6ff;
  font-size: 5vw;
  font-family: "Roboto Black";
  text-decoration: underline;
}

p {
  color: #ffffff;
  font-family: "Roboto";
}

.topmenu {
  color: rgb(255, 255, 255);
  text-align: left;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 5%;
  padding-top: 1%;
  padding-left: 5%;
  z-index: 1; /* Ensures topmenu is "over" background video with index -1 */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  height: 95vh;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  height: 100vh;
  width: 100%;
}

.aboutbox {
  padding: 1%;
  flex: 1; 
  background-color: #00000090;
  height: 80%;
  border-radius: 20px;
  margin: 5% 10%;
  backdrop-filter: blur(8px);
}

.aboutleft {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background-image: url("https://images.wallpapersden.com/image/download/small-memory_am1pa2aUmZqaraWkpJRmbmdlrWZlbWU.jpg");
}

.aboutright {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #000000;
  border-top: 20px #FFF;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  /*height: 100vh;*/
  width: 100%;
  min-height: 100vh;
}

.articles {
  width: 25%;
  /*margin-bottom: 5%;*/
  margin-top: 5%;
}

.portfolioVideos {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: none;
  width: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: #70d6ff;
  color: #000000;
  text-align: center;
  /*padding-top: 0%; Not used for now */
  z-index: 1; /* Ensures footer is "over" background video with index -1 */
}

html {
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  text-decoration: none;
    color: #ffffff;
}

a:hover {
  text-decoration: none;
  color: #a7a7a7;
}

a:active {
  text-decoration: none;
  color: #ffffff;
}

/* Content section video */
#videoBG {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none; /* Makes browser ignore "click events */

}

/* Portfolio section video */
#videoBG2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%h;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none; /* Makes browser ignore "click events */
}

.content, .portfolio {
  position: relative;
  overflow: hidden;
}

.button {
  font-family: "Roboto Black";
  width: 100%;
  height: 34%;
  border: none;
  color: white;
  font-size: 52px;
  cursor: pointer;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.button1 {
  background-color: #ff70a6;
}

.button2 {
  background-color: #ff9770;
}

.button3 {
  background-color: #ffd670;
}

.button:hover {
  opacity: 0.8;
}

#categories button {
  background-color: #ffd670;
  color: #ffffff;
  font-family: "Roboto Black";
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  margin-left: 1%;
  margin-right: 1%;
  padding: 2%;
  cursor: pointer;

}

#categories button:hover {
  opacity: 0.8;
}

ul {
  position: relative;
  text-align: left;
  font-family: "Roboto Black";
  text-transform: uppercase;
  font-size: 20px;
}